In [8]:
stud="[ashu,jaya,dodo]"
print(stud)

[ashu,jaya,dodo]

In [6]:
stud1=['ashu','jaya','dodo']
print(stud1)

['ashu', 'jaya', 'dodo']

In [9]:
print(stud[2])

s

In [18]:
print(stud1[2],stud[4],stud1[1].upper())

dodo u JAYA

In [20]:
name=['rahul','sunit','arun']
print(name)

['rahul', 'sunit', 'arun']

In [22]:
name.append('ashish')
print(name)

['rahul', 'sunit', 'arun', 'ashish']

In [23]:
name.insert(1,'ashu')
print(name)

['rahul', 'ashu', 'sunit', 'arun', 'ashish']

In [24]:
name.append('jalil')
print(name)

['rahul', 'ashu', 'sunit', 'arun', 'ashish', 'jalil']

In [25]:
name.insert(2,'rohit')
print(name)

['rahul', 'ashu', 'rohit', 'sunit', 'arun', 'ashish', 'jalil']

In [26]:
name

['rahul', 'ashu', 'rohit', 'sunit', 'arun', 'ashish', 'jalil']

In [33]:
print(name[5].upper(),name[2].title())

ASHISH Rohit

In [34]:
type(name)

list

In [35]:
type(stud1)

list

In [37]:
type(stud)

str

In [38]:
name1='(ashu,rohit,jaya,dodo)'
print(name1)

(ashu,rohit,jaya,dodo)

In [48]:
name2=['sam','ram','sagar']
print(name2)

['sam', 'ram', 'sagar']

In [49]:
name2.append('jaya')
print(name2)

['sam', 'ram', 'sagar', 'jaya']

In [51]:
name2.insert(1,'ashu')
print(name2)

['sam', 'ashu', 'ashu', 'ram', 'sagar', 'jaya']

In [53]:
print('grandfather','\ngrandmother','\tmother')

grandfather
grandmother 	mother

In [55]:
a1=2
b1=3
a1+b1

5

In [56]:
print(a1+b1)

5

In [57]:
a2="5"
b2="6"
a2+b2

'56'

In [58]:
name2

['sam', 'ashu', 'ashu', 'ram', 'sagar', 'jaya']